<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @project.product %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Number:</strong>
  <%= @project.number %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @project.plant %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @project.volume %>
</p>

<p>
  <strong>Ratio:</strong>
  <%= @project.ratio %>
</p>

<p>
  <strong>Life:</strong>
  <%= @project.life %>
</p>

<p>
  <strong>Sop:</strong>
  <%= @project.sop %>
</p>

<p>
  <strong>Eop:</strong>
  <%= @project.eop %>
</p>

<p>
  <strong>Project manger:</strong>
  <%= @project.project_manger %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @project.vehicle_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
